@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /*
        we want rem = 10px, by default rem = 16px,
        10 ÷ 16 = 0.625 (62.5%)
        */
  font-size: 62.5%;
}

a {
  color: inherit;
}

.nav {
  position: fixed;
  font-size: 5rem;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
}
.nav__button {
  position: relative;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  height: 0.3rem !important;
}
.nav__button, .nav__button::before, .nav__button::after {
  width: 3.5rem;
  height: 0.2rem;
  background-color: #000;
  display: block;
}
.nav__button::after, .nav__button::before {
  content: "";
  position: absolute;
}
.nav__button::before {
  top: -0.8rem;
}
.nav__button::after {
  top: 0.8rem;
}

.text-center {
  text-align: center !important;
}

.margin-bottom-big {
  margin-bottom: 14rem !important;
}

.margin-bottom-mid {
  margin-bottom: 4rem;
}

.margin-top-big {
  margin-top: 6rem;
}

.margin-top-mid {
  margin-top: 4rem;
}

@media only screen and (max-width: 104.4375em) {
  .master {
    line-height: 1;
  }
}
.master__header-2 {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .master__header-2 .box2 {
    order: -1 !important;
  }
}
@media only screen and (max-width: 56.25em) {
  .master__header h2 {
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 78.125em) {
  .master__header {
    display: flex;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 56.25em) {
  .master__header {
    flex-direction: column;
    height: 100% !important;
    margin: 5rem 1.5rem 1.5rem 1.5rem !important;
  }
}
@media only screen and (max-width: 25em) {
  .master__header {
    font-size: 4rem !important;
  }
}
@media only screen and (max-width: 78.125em) {
  .master__header__pic {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    flex: 1;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 56.25em) {
  .master__header__pic {
    flex-direction: column;
    height: 100rem;
  }
}

@media only screen and (max-width: 78.125em) {
  .box1 {
    padding: 3rem !important;
  }
}
@media only screen and (max-width: 56.25em) {
  .box1 {
    text-align: center;
    padding-bottom: 5rem !important;
  }
}
@media only screen and (max-width: 25em) {
  .box1 {
    padding: 1rem !important;
  }
}

@media only screen and (max-width: 56.25em) {
  .nav {
    top: 2rem;
    right: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .nav {
    width: 5rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .master {
    padding-top: 5rem !important;
  }
}

@media only screen and (max-width: 25em) {
  .h1-header {
    font-size: 4rem !important;
  }
}

@media only screen and (max-width: 56.25em) {
  .gallery_title {
    margin-bottom: 18rem !important;
  }
}
@media only screen and (max-width: 56.25em) {
  .gallery__grid {
    row-gap: 33rem !important;
  }
}
@media only screen and (max-width: 31.8125em) {
  .gallery__grid {
    padding: 1.5rem !important;
  }
}
@media only screen and (max-width: 56.25em) {
  .gallery__grid img {
    height: 260% !important;
  }
}

.h1-header {
  font-size: 6rem;
  font-family: "exo", sans-serif;
  background-image: linear-gradient(to right bottom, #12b886, #69db7c);
  -webkit-background-clip: text;
  background-clip: text;
  mix-blend-mode: screen;
  color: transparent;
  text-align: center !important;
  transition: all 0.2s;
}
.h1-header:hover {
  transform: skew(5deg);
}

.master {
  overflow: hidden;
}
.master__header {
  height: 50vh;
  margin: 5rem;
  padding: 7rem;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  font-family: "exo", sans-serif;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.master__header h2 {
  font-size: 2rem;
  max-width: 50rem;
  line-height: 1.5;
  margin-top: 3rem;
}
.master__header__pic {
  position: absolute;
  content: "";
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  -o-object-fit: cover;
     object-fit: cover;
}
.master__header-1 {
  background-image: linear-gradient(to right bottom, #40c057, #20c997);
}
.master__header-2 {
  background-image: linear-gradient(to right bottom, #63e6be, #1098ad);
  padding-left: 55%;
}
.master__header-2-pic {
  left: 0;
}
.master__header-3 {
  background-image: linear-gradient(to right bottom, #ffe066, #ff922b);
}

.gallery {
  overflow: hidden;
}
.gallery__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: 20rem;
  grid-auto-flow: dense;
}
.gallery__grid img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
}
.gallery__grid img:hover {
  transform: skew(2deg);
}
.gallery__grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__grid > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.story {
  overflow: hidden;
}