.nav {
  position: fixed;
  font-size: 5rem;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(#000, 0.3);
  text-align: center;
  cursor: pointer;

  &__button {
    position: relative;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);

    &,
    &::before,
    &::after {
      width: 3.5rem;
      background-color: #000;
      display: block;
      height: 2px;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
}

body {
  position: relative;
}

.menu {
  position: fixed;
  background-image: linear-gradient(to right bottom, #12b886, #0c8599);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 95%;

  &__list {
    color: #fff;
    font-size: 7rem;
    font-family: "exo", sans-serif;
    list-style: none;
    text-align: center;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    a {
      text-decoration: none;

      transition: all 0.2s;
      &:hover {
        font-size: 7.5rem;
      }
    }
  }
}
