* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /*
        we want rem = 10px, by default rem = 16px,
        10 ÷ 16 = 0.625 (62.5%)
        */
  font-size: 62.5%;
}

a {
  color: inherit;
}

.back {
  position: absolute;
  top: -4.5rem;
  right: 0;
  padding: 3rem;
  font-size: 6rem;
  text-decoration: none;
}

.text-center {
  text-align: center !important;
}

.margin-bottom-mid {
  margin-bottom: 4rem;
}
