* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /*
        we want rem = 10px, by default rem = 16px,
        10 ÷ 16 = 0.625 (62.5%)
        */
  font-size: 62.5%;
}

a {
  color: inherit;
}

.back {
  position: fixed;
  top: 1rem;
  right: 0;
  padding: 1rem;
  font-size: 10rem;
  text-decoration: none;
  z-index: 100;
}

.text-center {
  text-align: center !important;
}

.margin-bottom-big {
  margin-bottom: 14rem !important;
}

.margin-bottom-mid {
  margin-bottom: 4rem;
}

.margin-top-big {
  margin-top: 6rem;
}

.margin-top-mid {
  margin-top: 4rem;
}
