.h1-header {
  font-size: 6rem;
  font-family: "exo", sans-serif;
  background-image: linear-gradient(to right bottom, #12b886, #69db7c);
  -webkit-background-clip: text;
  background-clip: text;
  mix-blend-mode: screen;
  color: transparent;

  text-align: center !important;

  transition: all 0.2s;
  &:hover {
    transform: skew(5deg);
  }
}
